*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --cor_principal: #5c2ea5;
    --cor_hover: #723cca;
}

#root{
    width: 100%;
    height: 100vh;

    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 700px;
    min-height: 400px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    background-color: #fff;
    border-radius: 10px;
}

form{
    margin-top: 20px;
}

input{
    padding: 10px;
    border: 1px solid #202020;
    border-radius: 7px;
    font-size: 18px;
    outline: 0;
}

button{
    margin-left: 15px;
    padding: 10px;
    font-size: 18px;
    border: 0;
    border-radius: 7px;
    background-color: var(--cor_principal);
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: var(--cor_hover);
    transition: 0.4s;
}

.divisor{
    height: 1px;
    width: 200px;
    background-color: #000;
    opacity: 0.2;
}

.area_dados{
    min-height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blocos{
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bloco_dado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    background-color: var(--cor_principal);
    color: #fff;

    padding: 10px;
    border-radius: 10px;
}

.topico_bloco{
    font-weight: 100;
}

.valor_topico{
    font-size: 20px;
    font-weight: bold;
}


@media (max-width: 720px){
    .container{
        width: 70%;
    }

    .blocos{
        flex-direction: column;
    }

    .area_dados{
        gap: 20px;
    }
}

a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor_principal);
}

a:hover{
    color: var(--cor_hover);
}

@media (max-width: 530px){
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    button{
        margin-left: 0;
    }
}